<table class="table table-striped align-middle text-center">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of getAvailablePersons(); let personIndex = index">
        <td>{{ person.firstname }}</td>
        <td>{{ person.lastname }}</td>
        <td>
          <button (click)="deletePerson(personIndex)" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
</table>